@font-face {
    font-family: 'Fligen';
    src: url('Fligen-Regular.woff2') format('woff2'),
        url('Fligen-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

